   body,html{
     margin: 0px;
   }
   
   #all{
    /*position: relative;*/
    transition: all .3 ease-in-out;
  }
  
  #all::after{
    content: '';
    position: absolute;
    background: rgba(0,0,0, .3);
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -999;
  }
  
  #all.open::after{
    z-index: 50;
    opacity: 1;
        
  }
  
nav {
    top:0;
    width: 100%;
    /*height: 50px;*/
    z-index: 999;
    /*position: fixed;*/
    align-items: center;
  }

  .container-fluid:first-of-type {
    margin-top: 50px;
  }
  
  nav>div.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul#menulist {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 100%;
    z-index: 999;
    list-style: none;
    height:100vh ;
    padding: 30px;
    transition: all .3s ease-in-out;
    margin:0;
  }
  
  li{    
    font-size: 24px;
  }
  ul#menulist.open {
    left: 0;
    bottom: 0px;
    width: 70%;
    max-width: 220px;
    background:rgba(0, 0, 0, 0.95);
    /*background: rgba(22, 26, 39, 0.95);*/
    background-size: cover;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 4px 4px 4px rgba(70, 70, 70, 0.25)
    }

    img.navlogo{
      margin: 0 15%;
      width: 70%;
      
    }

  
  ul#menulist a {
   
    color: white;
    text-decoration: none;
    font-size: 24px;
    
    
  }

  .menuIcon {
    box-sizing: border-box;
    padding: 12px;
    height: 42px;
    width: 54px;
    z-index: 99999;
    border-radius: 5px;
    position: relative;
  }
  
  .menuIcon>span {
    background: white;
    height: 2px;
    width: 29px;
    display: block;
    transition: all .3s ease-in-out;
  }
  
  .menuIcon>span:nth-child(2) {
    margin: 6px 0;
    width: 20px;
    opacity: 1;
    transition: all .3s ease-in-out;
  }
  
  .menuIcon.open>span {
    position: absolute;
    transform: rotate(45deg);
    top: 50%;
  }
  
  .menuIcon.open>span:nth-child(2) {
    margin: 0;
    position: absolute;
    transform: rotate(135deg);
    width: 29px;
  }


  